<template id = "welcome-page-additional-content-template">
    <div id="custom-footer"><p>Aktuelle Nutzung: <span id="x-conferences">X</span> Konferenzen mit <span id="x-participants">X</span> Teilnehmer | <span id="x-cpu">X.X</span>% CPU und <span id="x-memory">X.X</span>% RAM</p></div>
    <script> 
    var totalram = 16384; // RAM in MB (free -m)
    fetch('https://meet.meinedomain.de/jitsi-stats').then(function (response) {return response.json();}).then(function (data){document.getElementById('x-conferences').innerHTML = data.conferences;document.getElementById('x-participants').innerHTML = data.participants;}).catch(function (err){console.warn('Something went wrong.', err);}); 
    fetch('https://meet.meinedomain.de/cpu.txt').then(response => response.text()).then(data => { document.getElementById('x-cpu').innerHTML = parseFloat(data).toFixed(1)}); 
    fetch('https://meet.meinedomain.de/memory.txt').then(response => response.text()).then(data => {var memory =100/totalram*data; document.getElementById('x-memory').innerHTML = memory.toFixed(1)}); 
    </script>   
    </template>
    
    <style type="text/css">
    /* Custom footer */
    #custom-footer {
        margin-bottom: -45px;
        margin-left: -200px;
        position: absolute; 
        bottom: 5%; 
        left: 50%;
        width: 400px;
        height: 50px;
        text-align: center;
        color: white;
        font-size:1.2em;
    }
    </style>